{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Dodaj zwierzaka{% endblock %}
{% block styles %}
    <link href="{% static 'base.css' %}" rel="stylesheet">
{% endblock %}
{% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Grafik</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link disabled">Witaj: {{ request.user.get_full_name }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'password_change' %}">Zmiana hasła</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="javascript:{document.getElementById('logout').submit()}">Wyloguj</a>
                            <form id="logout" method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <input type="hidden"/>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Logowanie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'signup' %}">Rejestracja</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
        <form method="post" action="." enctype="multipart/form-data">
            <h1 class="h3 mb-3 font-weight-normal">Wprowadź dane zwierzaka:</h1>
            {% csrf_token %}
            {% load widget_tweaks %}
            {% for field in form %}
                <div class="form-group {% if field.errors %} alert alert-danger{% endif %}">
                    {{ field.errors }}
                    {{ field.label_tag }} {% render_field field class="form-control" %}

                </div>
            {% endfor %}
            <input class="btn btn-primary" type="submit"
                   value="{% if form.buttonName %}{{ form.buttonName }} {% else %} Dodaj zwierzaka {% endif %}"/>
        </form>
    </div>
{% endblock %}