{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Dashboard{% endblock %}
{% block styles %}
    <link href="{% static 'base.css' %}" rel="stylesheet">
{% endblock %}
{% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Grafik</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link disabled">Witaj: {{ request.user.get_full_name }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'password_change' %}">Zmiana hasła</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="javascript:{document.getElementById('logout').submit()}">Wyloguj</a>
                            <form id="logout" method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <input type="hidden"/>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Logowanie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'signup' %}">Rejestracja</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
        {% if message %}
            <div class="row justify-content-md-center">
                <div class="col-md-auto alert alert-danger">
                    {{ message }}
                </div>
            </div>
        {% endif %}
        <h1 class="text-center">Twoje zwierzaki</h1>


        <div class="row pt-2">
            {% for animal in animals %}
                <div class="col-md-3 mb-3">
                    <div class="card h-80">
                        <img class="card-img-top {% if animal.condition.id == 2 %}died{% endif %}"
                             src="{{ animal.image.url }}" alt="{{ animal.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ animal.name }}</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"> {{ animal.condition }}</li>
                        </ul>
                        <div class="card-body">
                            <a href="{% url 'edit' animal.id %}" class="card-link">Edytuj <span
                                    class="oi oi-pencil"></span></a>
                            <a href="#" class="card-link" data-toggle="modal"
                               data-target="#exampleModal" id="delete">Usuń <span
                                    class="oi oi-trash"></span></a>
                        </div>
                    </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Usuwanie {{ animal.name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Czy napewno chcesz usunąć: {{ animal.name }} ?
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger"
                                            data-target="{% url 'delete' animal.id %}" id="deleteBtn">Usuń
                                    </button>
                                    <button type="button" class="btn btn-primary"  data-dismiss="modal">Zamknij
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-md-3 mb-3">
                <div class="card h-80">
                    <div class="card-body">
                        <a href="{% url 'add' %}" class="text-decoration-none"><span class="oi oi-plus"></span> Dodaj
                            zwierzaka</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $('#deleteBtn').on('click', function (event) {
            event.preventDefault();
            const url = $(this).data('target');
            location.replace(url);
        });
    </script>
{% endblock %}