{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Dodaj zwierzaka{% endblock %}
{% block styles %}
    <link href="{% static 'base.css' %}" rel="stylesheet">
{% endblock %}
{% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Grafik</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% if request.user.is_authenticated %}
                         <li class="nav-item">
                            <a class="nav-link disabled">Witaj: {{ request.user.get_full_name }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'password_change' %}">Zmiana hasła</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="javascript:{document.getElementById('logout').submit()}">Wyloguj</a>
                            <form id="logout" method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <input type="hidden"/>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Logowanie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'signup' %}">Rejestracja</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row pt-2">
            <div class="col-6">
                <img src="{{ animal.image.url }}" alt="{{ animal.name }}"
                     class="img-fluid {% if animal.condition == 'nieaktywny' %}died{% endif %}">
            </div>
            <div class="col-6">
                <h1>{{ animal.name }}</h1>
                <h5>Rodzaj: {{ animal.type }}</h5>
                <h5>Status: {{ animal.condition }}</h5>
                <h5>Właściciel: {{ animal.owner.username }}</h5>
                <a href="{% url 'dashboard' %}" class="btn btn-primary">Powrót</a>
            </div>
        </div>
    </div>
{% endblock %}