{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Grafik{% endblock %}
{% block styles %}
    <link href="{% static 'base.css' %}" rel="stylesheet">
{% endblock %}
{% block header %}
    <header class="bg-primary py-4 mb-5">
        <div class="container h-50">
            <div class="row h-100 align-items-center">
                <div class="col-lg-12">
                    <h1 class="display-4 text-white mt-5 mb-2">Aplikacja Grafik</h1>
                    <p class="lead mb-5 text-white-50">Planowanie, realizacja i zarządzanie usługami związanym z
                        kompleksową opieką nad psami i kotami.</p>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Grafik</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link disabled">Witaj: {{ request.user.get_full_name }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'password_change' %}">Zmiana hasła</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="javascript:{document.getElementById('logout').submit()}">Wyloguj</a>
                            <form id="logout" method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <input type="hidden"/>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Logowanie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'signup' %}">Rejestracja</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row {% if request.user.is_authenticated %} d-none{% endif %}">
            <div class="col-md-8 mb-5">
                <h2>Co robimy</h2>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi
                    soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam.
                    Repellat explicabo, maiores!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur
                    magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt
                    voluptate. Voluptatum.</p>
            </div>
            <div class="col-md-4 mb-5">
                <h2>Skontaktuj się z nami</h2>
                <hr>
                <address>
                    <strong>Start Bootstrap</strong>
                    <br>3481 Melrose Place
                    <br>Beverly Hills, CA 90210
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>
                    (123) 456-7890
                    <br>
                    <abbr title="Email">E:</abbr>
                    <a href="mailto:#">name@example.com</a>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top {% if not request.user.is_authenticated %} greyed{% endif %}"
                         src="{% static 'dogandcat.jpg' %}" alt="Zwierzęta">
                    <div class="card-body">
                        <h4 class="card-title text-center">Zwierzęta</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                            necessitatibus neque sequi doloribus.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'dashboard' %}"
                           class="btn btn-primary{% if not request.user.is_authenticated %} disabled{% endif %}">Przejdź</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top {% if not request.user.is_authenticated %} greyed{% endif %}"
                         src="{% static 'zlecenia.jpg' %}"
                         alt="Zlecenia">
                    <div class="card-body">
                        <h4 class="card-title text-center">Zlecenia</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                            necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'orders' %}"
                           class="btn btn-primary{% if not request.user.is_authenticated %} disabled{% endif %}">Przejdź</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top {% if not request.user.is_authenticated %} greyed{% endif %}"
                         src="{% static 'money.jpg' %}" alt="Rozliczenia">
                    <div class="card-body">
                        <h4 class="card-title text-center">Rozliczenia</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                            necessitatibus neque.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#"
                           class="btn btn-primary{% if not request.user.is_authenticated %} disabled{% endif %}">Przejdź</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}

{% block footer %}
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Grafik {% now "Y" %}</p>
        </div>
        <!-- /.container -->
    </footer>
{% endblock %}