{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Dodaj zlecenie{% endblock %}
{% block styles %}
    <link href="{% static 'base.css' %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Tempus Dominus Bootstrap 4 -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css"
          integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous"/>


{% endblock %}
{% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Grafik</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link disabled">Witaj: {{ request.user.get_full_name }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'password_change' %}">Zmiana hasła</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="javascript:{document.getElementById('logout').submit()}">Wyloguj</a>
                            <form id="logout" method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <input type="hidden"/>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Logowanie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'signup' %}">Rejestracja</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    {% if errors %}
        <div class="row justify-content-md-center">
            <div class="col-md-auto alert alert-danger">
                <strong>Wystąpił błąd. </strong> {{ errors }}
            </div>
        </div>

    {% endif %}

    <div class="container">
        <form method="post" action=".">
            {% csrf_token %}
            {% load widget_tweaks %}

            {% for field in form %}
                <div class="form-group {% if field.errors %} alert alert-danger{% endif %}">
                    {{ field.errors }}
                    {{ field.label_tag }} {% render_field field class="form-control" %}
                </div>
            {% endfor %}
            <div class="form-group">
                <label for="id_service_id">Rodzaj usługi:</label>
                <select name="service_id" class="form-control" required id="id_service_id">
                    <option value="0">Nie wybrano</option>
                </select>
            </div>
            <div class="form-group">
                <label for="id_animal_id">Nazwa zwierzaka:</label>
                <select name="animal_id" class="form-control" required id="id_animal_id">
                    <option value="0">Nie wybrano</option>
                </select>
            </div>
            <div class="form-group">
                <label for="id_cost">Cena:</label>
                <input type="number" class="form-control" name="cost" step="0.01" required id="id_cost"/>

            </div>
            <div class="form-group">
                <label for="id_status_id">Status:</label>
                <select name="status_id" class="form-control" required id="status_id">
                    <option value="1">Zaplanowano</option>
                </select>

            </div>
            <div class="form-group">
                <label for="id_date_ordered">Data i czas usługi:</label>
                <div class="input-group date" id="id_date_ordered" data-target-input="nearest">
                    <input name="date_ordered" type="text" class="form-control datetimepicker-input"
                           data-target="#id_date_ordered" data-toggle="datetimepicker" required/>
                    <div class="input-group-append" data-target="#id_date_ordered" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="id_length">Czas usługi:</label>
                <input type="text" name="length" required class="form-control" id="id_length"/>
            </div>
            <input class="btn btn-primary" type="submit" value="Złóż zamówienie "/>
        </form>
    </div>


{% endblock %}

{% block scripts %}
    <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"
            integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"
            integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>
    <script>

        $("select#id_animal_type").change(function () {
            const value = $("select#id_animal_type").val()
            console.log(value)
            $.ajax({
                url: '/orders/getservices/' + value,
                dataType: 'json',
                success: function (data) {
                    const values = JSON.parse(data);
                    console.log(values);
                    $('select#id_service_id').find('option').remove().end();
                    values.forEach(function (element, index) {
                        $('select#id_service_id').append($('<option>').text(element.fields.name).attr('value', element.pk));
                    });
                    const selected = $('select#id_service_id').val();
                    values.forEach(function (element) {
                        if (element.pk == selected) {
                            $('input#id_cost').val(element.fields.cost);
                            $('input#id_length').val(element.fields.duration);
                        }
                    });
                }
            });
            $.ajax({
                url: '/orders/getanimals/' + value,
                dataType: 'json',
                success: function (data) {
                    const values = JSON.parse(data);
                    console.log(values);
                    $('select#id_animal_id').find('option').remove().end();
                    values.forEach(function (element, index) {
                        $('select#id_animal_id').append($('<option>').text(element.fields.name).attr('value', element.pk));
                    });
                }
            });

        });

        $("select#id_service_id").change(function () {
            const value = $("select#id_animal_type").val()
             $.ajax({
                url: '/orders/getservices/' + value,
                dataType: 'json',
                success: function (data) {
                    const values = JSON.parse(data);
                    console.log(values);
                   {% comment %} $('select#id_service_id').find('option').remove().end();
                    values.forEach(function (element, index) {
                        $('select#id_service_id').append($('<option>').text(element.fields.name).attr('value', element.pk));
                    });{% endcomment %}
                    const selected = $('select#id_service_id').val();
                    values.forEach(function (element) {
                        if (element.pk == selected) {
                            $('input#id_cost').val(element.fields.cost);
                            $('input#id_length').val(element.fields.duration);
                        }
                    });
                }
            });
        });

        $(function () {
            $("#id_date_ordered").datetimepicker({
                format: 'MM/DD/YYYY HH:mm',
            });
        });
    </script>
{% endblock %}
