{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Zlecenia{% endblock %}
{% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Grafik</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link disabled">Witaj: {{ request.user.get_full_name }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'password_change' %}">Zmiana hasła</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="javascript:{document.getElementById('logout').submit()}">Wyloguj</a>
                            <form id="logout" method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <input type="hidden"/>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Logowanie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'signup' %}">Rejestracja</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="container pt-2">
        <div class="col-md-3 mb-3">
            <div class="card h-80">
                <div class="card-body">
                    <a href="{% url 'add_order' %}" class="text-decoration-none"><span class="oi oi-plus"></span> Złóż
                        zamówienie</a>
                </div>
            </div>
        </div>
        {% if orders %}
            <div class="row">
                <div class="col-12">
                    <h1>Złożone zamówienia:</h1>
                    <table class="table table-hover">
                        <thead>

                        </thead>
                        <tbody>
                        {% for row in orders %}
                            <tr>
                                <td>{{ row.animal_id.name }}</td>
                                <td>{{ row.service_id.name }}</td>
                                <td>{{ row.date_ordered }}</td>
                                <td>{{ row.cost }}</td>
                                <td>{{ row.status_id.name }}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        {% endif %}
    </div>


{% endblock %}
