{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Logowanie {% endblock %}
{% block styles %}
    <link href="{% static 'login.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container text-center">
        {% if error %}
            <div class="row justify-content-md-center">
                <div class="col-md-auto alert alert-danger">
                    <strong>Wystąpił błąd. </strong> {{ error }}
                </div>
            </div>

        {% endif %}
        <form class="form-signin" action="." method="post">
            <h1 class="h3 mb-3 font-weight-normal">Logowanie</h1>
            {% csrf_token %}

            <label for="inputLogin" class="sr-only">Login</label>
            <input type="text" id="inputLogin" class="form-control" placeholder="Login" name="username" required
                   autofocus>
            <label for="inputPassword1" class="sr-only">Hasło</label>
            <input type="password" id="inputPassword1" class="form-control" placeholder="Hasło" name="password"
                   required>
            {% comment %}<div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Pamiętaj mnie
                </label>
            </div>{% endcomment %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
            <p><a href="{% url 'password_reset' %}">Zapomniałeś hasła?</a></p>

        </form>
    </div>
{% endblock %}