{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Zarejestruj się {% endblock %}
{% block styles %}
    <link href="{% static 'login.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container text-center">
        <form class="form-signin" action="." method="post">
            {% csrf_token %}
            {% if user_form.errors %}
                {% for error in user_form.errors %}

                    <div class="row justify-content-md-center">
                        <div class="col-md-auto alert alert-danger">
                            {% if error == 'username' %}
                                <strong>Wystąpił błąd.</strong> Podany login jest już zajęty.
                            {% elif error == 'password1' or error == 'password2' %}
                                <strong>Wystąpił błąd.</strong> Podane hasła się różnią.
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

            {% endif %}
            <h1 class="h3 mb-3 font-weight-normal">Rejestracja</h1>
            <label for="inputLogin" class="sr-only">Login</label>
            <input type="text" id="inputLogin" class="form-control" placeholder="Login" name="username" required
                   autofocus>
            <label for="inputFirstName" class="sr-only">Imię</label>
            <input type="text" id="inputFirstName" class="form-control" placeholder="Imię" name="first_name" required
                   autofocus>
            <label for="inputLastName" class="sr-only">Nazwisko</label>
            <input type="text" id="inputLastName" class="form-control" placeholder="Nazwisko" name="last_name" required
                   autofocus>
            <label for="inputEmail" class="sr-only">E-mail</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="E-mail" name="email" required
                   autofocus>
            <label for="inputPassword" class="sr-only">Hasło</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Hasło" name="password1"
                   required>
            <label for="inputPassword1" class="sr-only">Hasło</label>
            <input type="password" id="inputPassword1" class="form-control" placeholder="Powtórz hasło" name="password2"
                   required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Zarejestruj</button>

        </form>
    </div>
{% endblock %}