{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Potwierdzenie resetowania hasła{% endblock %}
{% block styles %}
    <link href="{% static 'login.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container text-center">
        <h1>Hasło zostało zmienione.</h1>
        <h5>Zmiana hasła zakończyła się powodzeniem.
            Hasło zostało zdefiniowane. Możesz się już <a href="{% url 'login' %}">zalogować</a>.</h5>
    </div>

{% endblock %}