{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Resetowanie hasła {% endblock %}
{% block styles %}
    <link href="{% static 'login.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container text-center">
        <h1 class="h3 mb-3 font-weight-normal">Resetowanie hasła</h1>
        {% if form.errors %}
            <div class="row justify-content-md-center">
                <div class="col-md-auto alert alert-danger">
                    <strong>Wystąpił błąd. </strong> {{ errors }}.
                </div>
            </div>{% endif %}
        {% if form.new_password1.errors or form.new_password2.errors %}
            <div class="row justify-content-md-center">
                <div class="col-md-auto alert alert-danger">
                    <strong>Wystąpił błąd. </strong> Wprowadzone nowe hasła nie są identyczne.
                </div>
            </div>{% endif %}
        {% if validlink %}
            <p>Dwukrotnie podaj nowe hasło:</p>
            <form action="." method="post" class="form-signin">
                <label for="id_new_password1" class="sr-only">Nowe hasło</label>
                <input type="password" id="id_new_password1" class="form-control" placeholder="Nowe hasło"
                       name="new_password1"
                       required
                       autofocus>
                <label for="id_new_password2" class="sr-only">Nowe hasło</label>
                <input type="password" id="id_new_password2" class="form-control" placeholder="Nowe hasło"
                       name="new_password2"
                       required
                       autofocus>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Zmień</button>
                {% csrf_token %}
            </form>
        {% else %}
            <p>Łącze pozwalające na wyzerowanie hasła jest nieprawidłowe, ponieważ prawdopodobnie zostało już wcześniej
                użyte.
                Musisz ponownie rozpocząć procedurę zmiany hasła.</p>
        {% endif %}
    </div>
{% endblock %}