{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Resetowanie hasła {% endblock %}
{% block styles %}
    <link href="{% static 'login.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container text-center">
        <h1 class="h3 mb-3 font-weight-normal">Resetowanie hasła</h1>
        <h5>Wysłaliśmy Ci wiadomość email wraz z instrukcjami pozwalającymi na zdefiniowanie nowego
            hasła.</h5>
    </div>
{% endblock %}