{{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Hasło zostało zmienione {% endblock %}

{% block content %}
    <div class="container text-center">
    <h1>Hasło zostało zmienione.</h1>
    <p>Zmiana hasła zakończyła się powodzeniem.</p>
    <a href="{% url 'home' %}" class="btn btn-primary">Powrót</a>
    </div>
{% endblock %}


