{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Resetowanie hasła {% endblock %}
{% block styles %}
    <link href="{% static 'login.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container text-center">
        <h1 class="h3 mb-3 font-weight-normal">Zapomniałeś hasła?</h1>
        <p>Podaj adres email, aby zresetować hasło.</p>
        <form action="." method="post" class="form-signin">
            <label for="id_old_password" class="sr-only">Stare hasło</label>
            <input type="email" id="id_email" class="form-control" placeholder="Email"
                   name="email"
                   required
                   autofocus>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Wyślij email</button>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}